html, body {
  height: 100%;
}

.full-height {
  height: 100%;
}

.container{
  background-color: #FDD700;
  min-height: 100%;
}

.header h1{
  font-size: 40px;
  background-color: #FDD700;
  color: black;
  padding: 50px;
  text-decoration: none;
}

h1:hover{
  color: #eee;
  text-decoration: none;
}

.post{
    margin-top: 30px;
    display: block;
    border-radius: 10px;
    margin: 10px 0;
    padding-bottom: 30px;
}

.post #contentPost:hover{
  text-decoration: none;
}

.container{
    text-align: center;
}
/* Post related*/
.post{
  background-color: #F9E887;
}

.post a{
    color: inherit;
    text-decoration: none;
}

.post #editPost, .post #deletePost, .comment #editComment, .comment #deleteComment{
  float: right;
  margin: 3px;
  background-color: #6D63E0;
}

.post #contentPost p, .comment #contentComment{
  clear: both;
  max-width: 70%;
  min-height: 50px;
  margin: auto;
}

.contentContainer{
  min-height: 40px;
  text-align: center;
}

.authors{
  float: left;
  display: inline;
  bottom: 0;
}

.authors .author, .tags .tag{
  font-size: 11px;
  margin: 2px;
  bottom: 0;
  margin-top: 5px;
}

.tags{
  float: right;
  display: inline;
  bottom: 0;
}
/*Comments related*/

.comment{
  display: block;
  width: 60%;
  float: right;
  background-color: #F9E887;
  margin: 10px;
}

.commentForm{
  clear: both;
}

.username{
  float: right;
  font-size: 11px;
  bottom: 0;
}

.commentForm form {
  text-align: center;
}


/* Forms related*/
#commentInput, #postInput{
  clear: both;
  width: 40%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

#usernameInput{
  clear: both;
}

#submitButton{
  margin: 3px;
  background-color: #6D63E0;
}

#authorsInput, #tagsInput{
  width: 40%;
}

.editPostForm, .createPostForm{
  text-align: center;
}



/*Navbar related*/ 
 .navbar {
    overflow: hidden;
    background-color: #FDD700;
    height: 200px;
    width: 100%;
  }

  .navbar a, .navbar input {
    float: left;
    font-size: 18px;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    background-color: #6D63E0;
    border-radius: 3px;
    margin: 0 2px;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    padding: 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0 2px;
    border-radius: 3px;
    background-color: #6D63E0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn,  .navbar input:hover {
    background-color: #FFF;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #FFF;
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a, .subnav-content input {
    float: left;
    color: black;
    text-decoration: none;
    border-radius: 3px;
  }
  
  .subnav-content a:hover,  .subnav-content input:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }

  .validationError{
      color: red;
  }