<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">
</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>
    <div class="findCommentForm">
        <p>Wprowadz nazwę użytkownika, którego komentarze chcesz wyświetlić: </p>
        <form th:action="@{/comment/user}" method="POST">
            <label for="username">Nazwa użytkownika: </label>
            <input type="text" id="username" th:name="username">
            <br>
            <input class="btn" id="submitButton" type="submit" value="Wyszukaj">
        </form>
    </div>
    <div th:if="${comments}">
        <div class="comment" th:each="comment : ${comments}">
            <p id="contentComment" th:text="${comment.getCommentContent()}"></p>
            <p class="username" th:text="${comment.getUsername()}"></p>
        </div>
    </div>

</div>
</body>
</html>