<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">

</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>
    <div class="editCommentForm">
        <form method="POST"
              th:action="@{/post/{idPost}/comment/{idComment}/edit (idComment=${comment.getId()}, idPost=${post.getId()})}"
              th:object="${comment}">
            <h3>Edytuj komentarz</h3>
            <br>
            <label for="commentInput">Zawartość komentarza:</label>
            <br>
            <textarea type="text" th:field="*{commentContent}" id="commentInput"> </textarea>
            <br/>
            <input class="btn" id="submitButton" type="submit" value="Edytuj">
        </form>
    </div>

</div>
</body>
</html>