<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">

</head>
<body>
<div class="container">
    <div class="login-register">
        <a th:if="${role == 'GUEST'}" class="btn btn-primary" th:href="@{/login}">Zaloguj się</a>
        <a th:if="${role == 'GUEST'}" class="btn btn-primary" th:href="@{/register}">Zarejestruj się</a>
    </div>
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="subnav">
                <button class="subnavbtn">Sortuj posty</button>
                <div class="subnav-content">
                    <form th:action="@{/}" method="POST">
                        <input class="btn" type="submit" th:name="sortValue" value="Id descending">
                        <input class="btn" type="submit" th:name="sortValue" value="Post ascending"/>
                        <input class="btn" type="submit" th:name="sortValue" value="Post descending"/>
                        <input class="btn" type="submit" th:name="sortValue" value="Author ascending"/>
                        <input class="btn" type="submit" th:name="sortValue" value="Author descending"/>
                        <input class="btn" type="submit" th:name="sortValue" value="Tag ascending"/>
                        <input class="btn" type="submit" th:name="sortValue" value="Tag descending"/>
                    </form>
                </div>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>


    <div class="contentContainer">
        <div th:each="post : ${posts}" class="post">
            <a th:if="${role != 'GUEST'}" id="editPost" class="btn" th:href="@{/post/edit/{id} (id=${post.getId()})}">Edytuj post</a>
            <a th:if="${role != 'GUEST'}" id="deletePost" class="btn" th:href="@{/post/delete/{id} (id=${post.getId()})}">Usun post</a>
            <a id="contentPost" class="contentContainer" th:href="@{/post/{id} (id=${post.getId()})}"><p
                    th:text="${post.getPostContent()}"></p></a>

            <div class="authors" th:each="author : ${post.getAuthorsList()}">
                <p class="author"><span th:text="*{author}">, </span></p>
            </div>
            <div class="tags" th:each="tag : ${post.getTagsList()}">
                <p class="tag" th:text="*{tag}"></p>
            </div>

        </div>
    </div>
</div>
</body>
</html>