<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">

</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div th:if="${role != 'GUEST'}" class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <div class="post">
            <a id="contentPost" class="contentContainer" th:href="@{/post/{id} (id=${post.getId()})}"><p
                    th:text="${post.getPostContent()}"></p></a>

            <div class="authors" th:each="author : ${post.getAuthorsList()}">
                <p class="author"><span th:text="*{author}">, </span></p>
            </div>
            <div class="tags" th:each="tag : ${post.getTagsList()}">
                <p class="tag" th:text="*{tag}"></p>
            </div>
        </div>

        <div class="comment" th:each="comment : ${comments}">
            <a id="editComment" class="btn"
               th:if="${(role == 'USER' && username == comment.getUsername()) or role == 'ADMIN'}"
               th:href="@{/post/{idPost}/comment/{idComment}/edit (idComment=${comment.getId()}, idPost=${post.getId()})}">Edytuj</a>
            <a id="deleteComment" class="btn"
               th:if="${(role == 'USER' && username == comment.getUsername()) or role == 'ADMIN'}"
               th:href="@{/post/{idPost}/comment/{idComment}/delete (idComment=${comment.getId()}, idPost=${post.getId()})}">Usuń</a>
            <p id="contentComment" th:text="${comment.getCommentContent()}"></p>
            <a th:if="${role == 'GUEST'}"
               th:href="@{/register/{username} (username=${comment.getUsername()})}">
                <p class="username" th:text="${comment.getUsername()}">
                </p>
            </a>
            <p th:if="${role != 'GUEST'}" class="username" th:text="${comment.getUsername()}"></p>


        </div>

        <div class="commentForm">
            <h3>Dodaj komentarz: </h3>
            <form method="POST" th:action="@{/post/{id} (id=${post.getId()})}" th:object="${comment}">
                <label for="commentInput">Komentarz</label>
                <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Proszę popraw pola i spróbuj ponownie
                </span>
                </div>
                <span class="validationError"
                      th:if="${#fields.hasErrors('commentContent')}"
                      th:errors="*{commentContent}">Name Error
                </span>
                <br>
                <textarea id="commentInput" type="text" th:field="*{commentContent}"></textarea>
                <br>
                <label th:if="${role == 'GUEST'}" for="usernameInput">Nazwa użytkownika</label>
                <span class="validationError"
                      th:if="${#fields.hasErrors('username')}"
                      th:errors="*{username}">Name Error
                </span>
                <br>
                <input th:if="${role == 'GUEST'}" id="usernameInput" type="text" th:field="*{username}">
                <input th:if="${role != 'GUEST'}" type="hidden" name="username" th:value="${username}">
                <input class="btn" id="submitButton" type="submit" value="Wyślij">
            </form>
        </div>
    </div>
</div>

</body>
</html>