<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">

</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>


    <div class="editPostForm">
        <form method="POST" th:action="@{/post/edit/{id} (id=${post.getId()})}" th:object="${post}">
            <h3>Edytuj post</h3>
            <br>
            <label for="postInput">Zawartość postu:</label>
            <br>
            <textarea type="text" th:field="*{postContent}" id="postInput"></textarea>
            <br/>
            <label for="authorsInput">Autorzy:</label>
            <br>
            <input type="text" th:field="*{authorsList}" id="authorsInput">
            <br/>
            <label for="tagsInput">Tagi:</label>
            <br>
            <input type="text" th:field="*{tagsList}" id="tagsInput">
            <br/>
            <input class="btn" id="submitButton" type="submit" value="Edytuj">
        </form>
    </div>

</div>

</body>
</html>