<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">


</head>
<body>
<div class="container">

    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>
    <div class="createPostForm">
        <form method="POST" th:action="@{/post/create}" th:object="${post}">
            <h3>Utwórz post</h3>
            <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Proszę popraw pola i spróbuj ponownie
                </span>
            </div>
            <label for="postInput">Zawartość postu:</label>
            <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('postContent')}"
                  th:errors="*{postContent}">Name Error
            </span>
            <br>
            <textarea type="text" th:field="*{postContent}" id="postInput"></textarea>
            <br/>
            <label for="authorsInput">Autorzy:</label>
            <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('authorsList')}"
                  th:errors="*{authorsList}">Name Error
            </span>
            <br>
            <select name="authorsList" id="authorsInput" th:field="*{authorsList}" multiple>
                <option th:each="author : ${authorsList}" th:value="${{author}}" th:text="${author}"></option>
            </select>
            <br/>
            <label for="tagsInput">Tagi:</label>
            <br>
            <span class="validationError"
                  th:if="${#fields.hasErrors('tagsList')}"
                  th:errors="*{tagsList}">Name Error
            </span>
            <br>
            <select name="tagsList" id="tagsInput" th:field="*{tagsList}" multiple>
                <option th:each="tag : ${tagsList}" th:value="${{tag}}" th:text="${tag}"></option>
            </select>
            <br/>
            <input class="btn" id="submitButton" type="submit" value="Utwórz">
        </form>
    </div>

</div>
</body>
</html>