<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">


</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>
    <div class="findPostForm">
        <form method="post" th:action="@{/post/search}">
            <label for="searchPost">Wpisz szukaną frazę: </label>
            <input type="text" id="searchPost" th:name="postPattern">
            <br>
            <input type="radio" id="postInputRadio"
                   th:name="findType" value="post" required>
            <label for="postInputRadio">Zawartość postu</label>

            <input type="radio" id="authorInputRadio"
                   th:name="findType" value="author">
            <label for="authorInputRadio">Autor</label>

            <input type="radio" id="tagInputRadio"
                   th:name="findType" value="tag">
            <label for="tagInputRadio">Tag</label>
            <br>
            <input class="btn" id="submitButton" type="submit" value="Wyszukaj">
        </form>
    </div>
    <div class="contentContainer">
        <div th:each="post : ${posts}" class="post">
            <a id="contentPost" class="contentContainer" th:href="@{/post/{id} (id=${post.getId()})}"><p
                    th:text="${post.getPostContent()}"></p></a>

            <div class="authors" th:each="author : ${post.getAuthorsList()}">
                <p class="author"><span th:text="*{author}">, </span></p>
            </div>
            <div class="tags" th:each="tag : ${post.getTagsList()}">
                <p class="tag" th:text="*{tag}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>