<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">

</head>
<body>
<div class="container">
    <div class="header">
        <a href="/">
            <h1>Super blog o różnych rzeczach</h1>
        </a>
    </div>
    <!-- The navigation menu -->
    <div class="col">
        <div class="navbar">
            <div class="nav-item">
                <a th:href="@{/post/create}">Dodaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/post/search}">Wyszukaj post</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/comment/user}">Wyszukaj komentarz użytkownika</a>
            </div>
            <div class="nav-item">
                <a th:href="@{/stats}">Statystyki użytkownika</a>
            </div>
        </div>
    </div>
    <div class="statsForm">
        <form th:action="@{/stats}" method="post">
            <label for="name">Wpisz autora lub nazwę użytkownika</label>
            <input type="text" id="name" th:name="name">
            <br>
            <input type="radio" id="author" value="author" th:name="type" required>
            <label for="author">Autor</label>
            <input type="radio" id="user" value="user" th:name="type">
            <label for="user">Użytkownik</label>
            <br>
            <input class="btn" id="submitButton" type="submit" value="Wyślij">
        </form>
    </div>

    <div th:if="${name}">
        <div>
            <p th:text="${name}"></p>
            <p th:text="${numberOfActions}"></p>
        </div>
    </div>
</div>
</body>
</html>