<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">
</head>
<body>
<div class="container">
    <div class="contentContainer">
        <div class="loginUserForm">
            <form method="POST"
                  th:action="@{/login}"
                  th:object="${user}">
                <h3>Zaloguj się</h3>
                <div>
                    <label for="username">Nazwa użytkownika</label>
                    <input th:field="*{username}" id="username"/>
                    <p th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div>
                    <label for="password">Hasło</label>
                    <input th:field="*{password}" id="password" type="password"/>
                    <p th:each="error: ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <input class="btn" id="submitButton" type="submit" value="Zaloguj się">
            </form>
        </div>

    </div>
</div>

</body>
</html>