<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog website</title>
    <link th:href="@{/css/homeStyle.css}" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css} "/>
    <link rel="shortcut icon" href="#">

</head>
<body>
<div class="container">
    <div class="contentContainer">
        <div class="loginUserForm">
            <form method="POST" th:action="@{/register}" th:object="${user}">
                <h3>Zarejestruj się</h3>
                <div th:if="${#fields.hasErrors()}">
                <span class="validationError">
                    Proszę popraw pola i spróbuj ponownie
                </span>
                </div>
                <div>
                    <label for="username">Nazwa użytkownika</label>
                    <br>
                    <span class="validationError"
                          th:if="${#fields.hasErrors('username')}"
                          th:errors="*{username}">Name Error
                    </span>
                    <br>
                    <input th:field="*{username}" id="username"/>
                </div>
                <div>
                    <label for="email">Email</label>
                    <br>
                    <span class="validationError"
                          th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}">Name Error
                    </span>
                    <br>
                    <input th:field="*{email}" id="email"/>
                </div>
                <div>
                    <label for="password">Hasło</label>
                    <br>
                    <span class="validationError"
                          th:if="${#fields.hasErrors('password')}"
                          th:errors="*{password}">Name Error
                    </span>
                    <br>
                    <input th:field="*{password}" id="password" type="password"/>
                </div>
                <input class="btn" id="submitButton" type="submit" value="Utwórz">
            </form>
        </div>

    </div>
</div>

</body>
</html>